/* Google Font css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

/* Global style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: #f4f4f4;
  line-height: 1.5;
  color: #333;
}

img {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

p {
  font-size: 0.9rem;
  color: #333;
}

hr {
  color: #ddd;
}

span {
  font-size: 0.8rem;
  font-weight: 400;
}

/* Utility */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 60px;
  position: relative;
  z-index: 2;
}

.btn {
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.4rem 0.7rem;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-dark:hover {
  background-color: grey;
  color: #fff;
}

.btn-light {
  background-color: #e9ecef;
  color: #333;
  border: 1px solid #adb5bd;
}

/* Nav style */

#header {
  background-color: #fff;
  overflow: hidden;
}

.navbar {
  position: relative;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.nav-link {
  margin-left: 1.5rem;
}
.nav-i {
  background-color: darkgreen;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: #fff;
}

.brand {
  width: 90px;
}

/* Nav form */
.nav-form {
  display: flex;
  flex-wrap: wrap;
}

input[type="search"] {
  width: 50vw;
  height: 2rem;
  padding: 1rem;
  display: inline-block;
  border: 1px solid #ddd;
  border-right: none;
  cursor: text;
}

input[type="search"]:focus {
  box-shadow: inset 2px 2px 5px #ddd;
  outline: none;
}

.btn-form {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-left: none;
  display: inline-block;
  height: 2.2rem;
  padding: 0 1.5rem;
  color: grey;
}

.btn-form:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #333;
}

/* Content */
.wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 2.5rem;
}

/* flex left contents */

.flex-left {
  flex: 60%;
  padding: 0 1rem;
}

/* embeded video */

iframe {
  width: 100%;
  max-width: 725px;
  height: 400px;
  display: inline-block;
  margin-bottom: 1rem;
}

.big-heading {
  margin-bottom: 1rem;
  font-weight: 300;
}

.inner-flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inner-flex-item a {
  color: grey;
}

.lead {
  font-size: 0.9rem;
  margin-right: 9rem;
  padding-bottom: 1rem;
}

.like-item {
  margin-right: 1.2rem;
  font-size: 1rem;
}

.border-bottom {
  border-bottom: 2px solid blue;
  padding-bottom: 0.9rem;
  margin-right: 1rem;
}

a.thumb-up {
  color: blue;
}

.like {
  justify-self: flex-end;
  padding-bottom: 1rem;
}
/* Description */

.description {
  display: flex;
  padding: 1rem 0 0;
  justify-content: space-between;
  align-items: center;
}

.description-link {
  margin-left: 1rem;
}

.description-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-img {
  width: 50px;
  border-radius: 50%;
}

.subscribe-link {
  color: #fff;
  background-color: #d00000;
  padding: 0.7rem 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}

.showmore {
  padding: 1rem 0;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
}

.channel-link,
.comment-1 {
  font-size: 0.9rem;
  font-weight: 700;
}

.description-item-2 {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.circle {
  background-color: darkgreen;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-right: 1rem;
}

.description-item-2 img {
  width: 40px;
}

.description-item-2 input {
  width: 50vw;
  background-color: #f4f4f4;
  border: none;
  border-bottom: 1px solid #ddd;
  cursor: text;
  padding: 0.2rem 0;
  flex-grow: 1;
}

.description-item-2 input:focus {
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

/* comment wrapper */
.comment-wrapper {
  padding: 0.5rem 2rem 1rem 4rem;
}

.comment-1 {
  display: flex;
  padding: 1rem 0;
}

.comment-1 h4 {
  margin-right: 2rem;
}

/* comment section */

.comment-content {
  display: flex;
  padding: 0.5rem 0;
  /* justify-content: center; */
}

.img-link {
  width: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.comment-parag {
  margin-bottom: 0.5rem;
}

.like-item-small {
  font-size: 0.8rem;
  margin-right: 1rem;
  color: #888;
}

.like-item-small:hover {
  color: #333;
}

.inline-link {
  margin-left: 1rem;
}

.inline-parag {
  margin: 1rem 0 0;
}

/* Flex right contents */
.flex-right {
  flex: 40%;
  padding: 0.5rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  gap: 0.4rem;
  padding: 2rem 0;
}

.lead-2 {
  padding: 0 0.1rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  border-right: 4px dotted grey;
}

.lead-2 i {
  margin-left: 1.5rem;
  color: #888;
}

.lead-3 {
  color: #888;
  font-size: 0.8rem;
}

.lead-3 a {
  color: #888;
  font-size: 0.8rem;
}

.wrapper-2 {
  padding: 2rem 0;
}

.flex-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  padding-bottom: 0.3rem;
}
/* button live */
.live {
  display: inline-block;
  border: 1px solid red;
  color: red;
  padding: 0.1rem;
}
