/* Google Font css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

/* Global style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: #f4f4f4;
  line-height: 1.2;
  color: #333;
}

img {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #333;
}

/* Nav style */

#header {
  background-color: #fff;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 60px;
  position: relative;
  z-index: 2;
}

.navbar {
  position: relative;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.nav-link {
  margin-left: 1.5rem;
}

.brand {
  width: 90px;
}

/* Nav form */
.nav-form {
  display: flex;
  flex-wrap: wrap;
}

input[type="search"] {
  width: 50vw;
  height: 2rem;
  padding: 1rem;
  display: inline-block;
  border: 1px solid #ddd;
  border-right: none;
  cursor: text;
}

input[type="search"]:focus {
  box-shadow: inset 2px 2px 5px #ddd;
  outline: none;
}

.btn-form {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-left: none;
  display: inline-block;
  height: 2.2rem;
  padding: 0 1.5rem;
  color: grey;
}

.btn-form:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #333;
}

.nav-i {
  background-color: darkgreen;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: #fff;
}

/* Content */
.wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 2.5rem;
}

.flex-left {
  flex: 60%;
  padding: 0 1rem;
}

iframe {
  width: 100%;
  max-width: 725px;
  height: 400px;
  display: inline-block;
  margin-bottom: 1rem;
}

.big-heading {
  margin-bottom: 1rem;
  font-weight: 300;
}

.inner-flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inner-flex-item a {
  color: grey;
}

.lead {
  font-size: 0.9rem;
  margin-right: 9rem;
  padding-bottom: 1rem;
}

.like-item {
  margin-right: 0.8rem;
  font-size: 1rem;
}

.border-bottom {
  border-bottom: 2px solid #333;
  padding-bottom: 0.9rem;
  margin-right: 1rem;
}

.like {
  justify-self: flex-end;
  padding-bottom: 1rem;
}

/* Flex right style */
.flex-right {
  flex: 40%;
  padding: 0.5rem 0;
}

.btn {
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.4rem 0.7rem;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-dark:hover {
  background-color: grey;
  color: #fff;
}

.btn-light {
  background-color: #e9ecef;
  color: #333;
  border: 1px solid #adb5bd;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  gap: 0.4rem;
  padding: 2rem 0;
}

.lead-2 {
  padding: 0 0.1rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  border-right: 4px dotted grey;
}

.lead-2 i {
  margin-left: 1.5rem;
  color: #888;
}

.lead-3 a {
  color: #888;
  font-size: 0.8rem;
}

.wrapper-2 {
  padding: 2rem 0;
}

.flex-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  padding-bottom: 0.3rem;
}

.live {
  display: inline-block;
  border: 1px solid red;
  color: red;
  padding: 0.2rem;
}
